
Hello <%= @teacher.first_name%>, 

Yeah, it's not easy to remember our passwords. Here's a quick reset link

<%= password_resets_teacher_edit_url(@teacher.reset_password_token) %>


For any queries, feel free to write to us at <a href="mailto:contact@schloop.com">contact@schloop.com</a>


Happy Schlooping!

The Schloop Team

<additional links to appstore and googleplay>
