<%= form_tag controller: "admin/ecirculars", method: "get" do %>
  <label>Title:</label>
  <input  name="title" type="text" /><br><br>
  <label>Body:</label>
  <textarea  name="body" cols="30" rows="6"></textarea><br><br>
  <label>Circular Type:</label>
<select name="circular_type">
	<option value="lesson_plan">Lesson Plan </option>
	<option value="exam_timetable">Exam Timetable</option>
	<option value="my_result">My Result</option>
	<option value="my_attendance">My Attendance</option>
	<option value="class_timetable">Class Timetable</option>
	<option value="transport_details">transport details</option>
	<option value="holliday_circular">Holliday circular</option>
	<option value="medical_visit_report">Medical visit Report</option>
	<option value="news_and_events">news and events</option>
	<option value="important_announcement">important announcement </option>
	<option value="event_circular ">event circular </option> 
	<option value="awards_and_achivements">awards and achivements </option>
	<option value="fee_notice">fee notice</option>
	<option value="followup_activity_for_parents ">followup activity for parents </option>
	<option value="exhibitions">Exhibitions </option>
	<option value="worksheets">worksheets </option>
	<option value="extra_curricular_activities_cirular">extra curricular activities cirular </option>
	<option value="school_time_change">school time change </option>
	<option value="inter_school_competitions">inter school competitions </option>
	<option value="intra school competitions">intra school competitions </option>
	<option value="olymipiads">olymipiads </option>
</select>
  <input type="submit" name="submit" value= "submit" />
<% end %>