  <div class="panel panel-default">
    <div class="panel-body">
      <div class ="row">
        <div class="col-md-4">
      
          <div class="table-responsive">
            <table class="table"
            <tbody>
              <tr>
              <% @circulars.each do |circular| %>
                <td> <strong>Title:</strong></td>
                <td>  <%= circular.title%></td>
              </tr>
              <tr>
                <td> <strong>Circular Body:</strong></td>
                <td> <%= circular.body %></td>
              </tr>
              <tr>
                <td>  <strong>Circular Type:</strong> </td>
                <td>  <%= circular.circular_type%></td>
              </tr>
              <tr>
                <td> <strong>Circular created by</strong> </td>
                <td>  <%= circular.created_by_type %></td>
              </tr>
              <% end %> 
            </tbody>
          </table>
         </div>
      </div>
      <div class="col-md-7 col-md-offset-1">

         
 


