<div class="col-md-6 col-md-offset-3">
  <h4 class="text-center"><strong>PRIVACY POLICY</strong></h4>
  <br />
  <p>
  <strong>SCHLOOP</strong> is a unique web-based and / or mobile application platform designed to cater to the educational needs of students. It will create a collaborative learning environment for students, establish a common platform for development of online educational content, and provide a mode of effective communication between the School and the users of <strong>SCHLOOP</strong>.
  </p>
  <br />
  <p>
  <strong>LINKUS INFRATECH PRIVATE LIMITED (OPC)</strong> owns <strong>SCHLOOP</strong> and related sites <u>www.schloop.co</u>. The visitors to the web site / Mobile Application Platform are mainly students and therefore <strong>SCHLOOP</strong> takes special care to protect the personal information of the users. Our priority is to ensure that our users can create their own content, share ideas and engage in online activities within a safe and secure environment.</p>
  <br />
  <p>
  To help ensure a rewarding and safe online experience for everyone who uses SCHLOOP APP and <u>www.schloop.co</u>, we provide you with this summary of our information practices.</p>
  <br />
  <p>
    In an attempt to maintain your trust, we adhere to the following principles to protect your privacy:
  </p>
  <br />
  <ul>
    <li>
      <p>
        We do not rent, sell, or otherwise provide your personally identifiable information to third parties for marketing purposes.
      </p>
    </li>
  </ul>
  <br />
  <ul>
    <li>
      <p>
      We do not share any information you have not chosen to display on your profile, unless compelled by law, or as necessary to enforce our User Agreement or protect the rights, property, or personal safety of <strong>SCHLOOP</strong>, its Users, and the general public.</p>
    </li>
  </ul>
  <br />
  <ul>
    <li>
      All information that you provide will be protected with industry standard protocols and technology.
    </li>
  </ul>
  <br />
  <ul>
    <li>
      <p>
        We reserve the right to modify this Privacy Policy at any time. You are advised to review the same frequently. If we make material changes to this policy, we will notify you here, by means of a notice on our home page or at such other appropriate / prominent location on the website / Mobile Application Platform. By continuing to use the <strong>SCHLOOP</strong> service after notice of changes has been published on the <strong>SCHLOOP</strong> website / Mobile Application Platform, you are consenting to the changes.
      </p>
    </li>
  </ul>
  <br />
  <p>
    Please read this policy and send us questions, concerns, and suggestions at <a href="mailto:support@schloop.co">support@schloop.co</a>.
  </p>
  <p>
    You can also write to us at <a href="mailto:support@schloop.co">support@schloop.co</a> if you have any questions or concerns about how <strong>SCHLOOP</strong> APP and <u>www.schloop.co</u> secures personal information.
  </p>
  <br />
  <h4>
    <strong>SITE FEATURES AND MONITORING</strong>
  </h4>
  <br />
  <p>
    <strong>SCHLOOP</strong> provides everyone with a safe environment where they can explore their identity and be creative. All content sent in by users and displayed on the site is rigorously screened by moderators. All site content is also monitored by moderators to ensure that it is appropriate for children.&nbsp;</p>
  <ol>
    <li>
      <p>
        <strong>INFORMATION COLLECTED BY SCHLOOP</strong>
      </p>
      <p>
        We collect your personal information in the following ways:
      </p>
      <ol style="list-style-type: upper-latin;">
        <li>
          <p>
            <strong><em>Registration</em></strong>
          </p>
        </li>
        <p>
          In order to become a User, you must provide us the following information to create an account: name, email address and mobile number. We ask for this only to communicate with the user about support, security, privacy, or administrative issues. Other information we ask for &mdash; such as gender, date of birth and others &ndash; is used by <strong>SCHLOOP</strong> for research purposes to better understand who our users are and to design the website / Mobile Application Platform which suits the users in a better fashion.</p>
        <br />
        <li>
          <strong><em>Profile Information</em></strong>
        </li>
        <br />
        <p>
          For some of our online activities such as polls or surveys, we may ask users to provide additional information that is not personally identifiable, such as a visitor&rsquo;s favourite colour or favourite animal. Additionally, when visitors come to our site, we automatically collect some non-personally identifiable technical information, such as the type of computer operating system (e.g., Windows or Mac), the user's IP Address, the web browser (e.g. Internet Explorer) being used, and information regarding the Internet service provider. We may sometimes use the information collected to improve site design and content, to personalize a user&rsquo;s experience and offer products, programs, and services of interest and relevance to them. All the information that we collect about our users is stored in a secure data facility, and is only available to authorized personnel at SCHLOOP. Currently, users who avail of a SCHLOOP account are allowed to design and create their own personal content. SCHLOOP is not liable for any information or data that is incorrectly fed by the user. In the course of providing web-based products and services (such as web / mobile application based activities other applications) and in order to provide the highest quality user experience for our users, SCHLOOP tracks the activity of users accessing our site. This information includes IP addresses of users, page views, unique visitors, and repeat visitors.
          This data does not correspond in any way with any personally identifiable information. We also use cookies, which are stored on the user&rsquo;s computer, to enhance the online experience. This cookie tracks user preferences, their online/offline status and user activities and interaction while on our site. Users may choose to reject these cookies, but if they do, they may be unable to take advantage of all the SCHLOOP.com features and services. Occasionally, SCHLOOP may run promotions or special offers that require users to provide certain information, including their name, email address and shipping address. These promotions and special offers are optional. However, if the user decides to participate, the personal information provided may be shared with a third party in order to deliver awards or special offers to the user. SCHLOOP.com would be sharing the demographic details with their sponsors. We would however not be disclosing any individuals identity with the sponsors. SCHLOOP has several social networking features. As such, personal information may be read by others if it's posted in a digital card design, in blogs, in a message, a wiki, a comment or a story submitted by the user. If a parent objects to any information posted by their child, they may contact Company and we will delete it.
        </p>
        <br />
        <li>
          <strong><em>Site Usage</em></strong>
        </li>
        <br />
        <p>
          We may collect information about the fact that you use certain features and functionality of SCHLOOP, interact with third party Platform Applications, or participate in research initiatives like polling and surveys on SCHLOOP.
        </p>
        <br />
        <li>
          <p>
            <strong><em>Cookies</em></strong>
          </p>
        </li>
        <br />
        <p> 
          Like most websites, we use cookies and web log files to track site usage and trends, to improve the quality of our service, to customize your experience on SCHLOOP, as well as to deliver third-party advertising to Users both on and off the SCHLOOP site. A cookie is a tiny data file that resides on your computer, mobile phone, or other device, and allows us to recognize you as a User when you return to the SCHLOOP website / mobile application platform using the same computer and web browser. You can remove or block cookies using the settings in your browser, but in some cases that may impact your ability to use SCHLOOP. Certain types of cookies (like "persistent" cookie) are set once you are logged in to your SCHLOOP account. The next time you visit the SCHLOOP website / Mobile Application Platform, these cookies will allow us to recognize you as an existing User so you will not need to log in before using the Services. There may be some types of cookies like "session" cookie, which is used to identify a particular visit to the SCHLOOP website / Mobile Application Platform. Session cookies expire after a short time or when you close your web browser. In the course of serving advertisements or optimizing the Services to our Users, we may allow authorized third parties to place or recognize a unique cookie on your browser. Any information provided to third parties through cookies will not be personally identifiable but may provide general segment information for greater customization of your user experience.
        </p>
        <br />
        <li>
          <p>
            <strong><em>Advertisements</em></strong>
          </p>
        </li>
        <br />
        <p>
          We serve our own advertisements and may allow third party advertisements on the site. These advertisements are targeted and served to Users, by both SCHLOOP and other companies.
        </p>
        <br />
        <li>
          <p>
            <strong><em>Log files, IP addresses and Information about your computer and mobile devices</em></strong>
          </p>
        </li>
        <br />
        <p>
          In accordance with the communications standards on the internet,
        </p>
        <br />
        <ul>
          <li>
            <p>
              We receive the URL of the site you have visited from and also the next following URL when you leave the SCHLOOP website / mobile application platform. &nbsp;
            </p>
          </li>
        </ul>
        <br />
        <ul>
          <li>
            <p>
              We also receive the internet protocol (&ldquo;IP&rdquo;) address of your computer (or the proxy server you use to access the World Wide Web), your computer operating system and type of web browser you are using, email patterns, mobile device operating system (if you are accessing SCHLOOP using a mobile device), as well as the name of your ISP or your mobile carrier. We use this information to analyze overall trends to help improve the
              service.
            </p>
          </li>
        </ul>
      </ol>
    </li>
    <br />
    <li> 
      <p>
        <strong>USE OF PERSONAL INFORMATION</strong>
      </p>
      <br />
      <ol style="list-style-type: upper-latin;">
        <li>
          <p>
            <strong><em>Consent to SCHLOOP</em></strong>
          </p>
        </li>
        <br />
        <p>
          The information you provide to SCHLOOP may reveal, or allow others to identify, your nationality, ethnic origin, religion, gender, age and geography. By providing information to us for the purposes of creating your User account or adding any additional details to your SCHLOOP profile, you are expressly and voluntarily accepting the terms and conditions of this Privacy Policy and SCHLOOP&rsquo;s Usage Agreement that allow SCHLOOP to process information about you. Supplying information to SCHLOOP, including any information deemed &ldquo;sensitive&rdquo; by applicable law, is entirely voluntary on your part.
        </p>
        <br />
        <li>
          <p>
            <strong><em>Sharing personal information with third parties</em></strong>
          </p>
        </li>
        <br />
        <p>
          We take additional measures to secure and protect the information we collect. However, no information collected over the internet can be guaranteed to be completely secure. If we become aware of a security breach that may affect a user&rsquo;s personal information, we will take appropriate action. SCHLOOP does not rent or sell personal information to any third party. We will however share the users demographic details with our sponsors. We will only share the user&rsquo;s personal information under the following circumstances:
        </p>
        <br />
        <ul>
          <li>
            <p>
              To comply with a subpoena, court order, or other legal proceeding, or if otherwise requested by a legitimate law enforcement body to cooperate in their investigations;
            </p>
          </li>
        </ul>
        <br />
        <ul>
          <li>
            <p>
              To prevent, investigate, or to take some other action against illegal activities, potential fraud, potential physical threats to any person, defamation, violations of our terms of service, or in any other way as required by law.
            </p>
          </li>
        </ul>
        <br />
        <ul>
          <li>
            <p>
              To ensure functionality of the website and execution of promotions, we will provide information to affiliated companies or other businesses or persons who provide web site hosting, maintenance and security services, fulfil delivery of physical merchandise (e.g., awards), or create new site features. We require that these parties process such information in compliance with this Privacy Policy, we authorize only a limited use of such information, and we require these parties to use appropriate confidentiality measures.
            </p>
          </li>
        </ul>
        <br />
        <li>
          <p>
          <strong><em>Polls and Surveys</em></strong>
          </p>
          <br />
        </li>
        <p>
          Polls and Surveys may be conducted by SCHLOOP, SCHLOOP Users or third parties. As a User, you may be invited to participate in polls and surveys from the SCHLOOP website / Mobile Application Platform. Your selection may be random, or it may be based on your non-personally identifiable information, such as job title, geography, company size and/or industry. You have every right to participate or not in the said poll or survey.
        </p>
        <br />
        <li>
          <p>
          <strong><em>Compliance with Legal Process</em></strong>
          </p>
          <br />
        </li>
        <p>
          It is possible that we may need to disclose personal information, profile information and/or information about your activities as a SCHLOOP User when required by legal process, or if SCHLOOP has a good faith belief that disclosure is necessary to
        </p>
        <br />
        <ul>
          <li>
            <p>
              investigate, prevent or take action regarding suspected or actual illegal activities or to assist government enforcement agencies;
            </p>
          </li>
        </ul>
        <br />
        <ul>
          <li>
            <p>
              to enforce the Usage Agreement, to investigate and defend ourselves against any third party claims or allegations, or to protect the security or integrity of our site; and/or
            </p>
          </li>
        </ul>
        <br />
        <ul>
          <li>
            <p>
              to exercise or protect the rights, property or personal safety of SCHLOOP, our Users, employees, or others.
            </p>
          </li>
        </ul>
        <br />
        <li>
          <p>
          <strong><em>Disclosures to others</em></strong>
          </p>
          <br />
        </li>
        <p>
          We may also disclose your personal information and other information you provide to another third party as part of reorganization or a sale of the assets of SCHLOOP, a subsidiary or division. Any third party to which SCHLOOP transfers or sells SCHLOOP&rsquo;s assets will have the right to continue to use the personal and other information that you provide to us.
        </p>
      </ol>
    </li>
    <br />
    <li>
      <p>
        <strong>YOUR INFORMATION CHOICES</strong>
      </p>
      <br />
      <ol style="list-style-type: upper-latin;">
        <li>
          <p>
            <strong><em>Accessing and Changing your information</em></strong>
          </p>
        </li>
        <p>
          You can review the personal information you provided to us and make any desired changes to the information you publish, or to the settings for your SCHLOOP account including your email and contact preferences, at any time by logging in to your account on the SCHLOOP website / mobile application platform. Please be aware that even after your request for a change is processed, SCHLOOP may, for a time, retain residual information about you in its backup and/or archival copies of its database.
        </p>
        <br />
          <li>
            <p>
              <strong><em>Closing your Account</em></strong>
            </p>
          </li>
        <br />
        <p>
          You can close your account through the SCHLOOP web site or mobile application platform. If you close your SCHLOOP account, we will remove your name and other personally identifiable information from our publicly viewable database. If you close your account, we have no obligation to retain your information, and may delete any or all of your account information without liability. However, we may retain certain data contributed by you if SCHLOOP believes it may be necessary to prevent fraud or future abuse, or for legitimate business purposes, such as analysis of aggregated, non-personally identifiable data, account recovery, or if required by law. SCHLOOP may also retain and use your information if necessary to provide the Services to other Users.
        </p>
        <br />
      </ol>
    </li>
    <li>
      <p>
        <strong>YOUR OBLIGATIONS</strong>
      </p>
      <br />
      <p>
        As a User, you have certain obligations. Some of these obligations are imposed by applicable law and regulations:
      </p>
      <br />
      <ul style="list-style-type: square;">
        <li>
          <p>
            You must, at all times, abide by the terms and conditions of the then-current Privacy Policy and Usage Agreement. This includes respecting all intellectual property rights that may belong to third parties (such as trademarks or photographs).
          </p>
        </li>
        <li>
          <p>
            You must not download or otherwise disseminate any information that may be deemed to be injurious, violent, offensive, racist or xenophobic, or which may otherwise violate the purpose and spirit of SCHLOOP.
          </p>
        </li>
        <li>
          <p>
            You must not provide to SCHLOOP and/or other Users information that you believe might be injurious or detrimental to your person or to your professional or social status.
          </p>
        </li>
        <li>
          <p>
            You must keep your username and password confidential and not share it with others.
          </p>
        </li>
        <li>
          <p>
            Any violation of these guidelines may lead to the restriction, suspension or termination of your account at the sole discretion of SCHLOOP.
          </p>
        </li>
      </ul>
      <br />
    </li>
    <li>
      <p>
        <strong>CHANGES TO PRIVACY POLICY</strong>
      </p>
      <br />
      <p>
        From time to time, SCHLOOP may make changes to this Privacy Policy. The Users are advised to regularly review the Privacy Policy / Statement. In the event there are significant changes in the way we treat your personally identifiable information, or in the Privacy Policy document itself, we will display a notice on the SCHLOOP website / mobile application platform or send you an email, as provided for above. Unless stated otherwise, our current Privacy Policy applies to all information that SCHLOOP has about you and your account.
      </p>
      <br />
    </li>
    <li>
      <p>
        <strong>HOW TO CONTACT US</strong>
      </p>
      <br />
      <p>
      If you have any questions or concerns about how SCHLOOP secures personal information, contact <a href="mailto:support@schloop.co">support@schloop.co</a>.
      </p> 
    </li>
  </ol>
</div>
