<div class="col-md-6 col-md-offset-3">
  <h4 class="text-center"><strong>TERMS OF SERVICE</strong></h4>
  <br/>
  <p>
    These Terms of Use ("Terms") represent our terms of service that governs our relationship with users and others who interact with SCHLOOP, as well as SCHLOOP brands, products and services, which we call the “SCHLOOP Services” or “Services”. By using or accessing the SCHLOOP Services, you agree to these Terms, as updated from time to time in accordance with Section 8 below. The Users are bound by the contents of the Agreement to be entered into or entered into with the concerned parties. 
  </p>
  <p> 
    As SCHLOOP provides a wide range of services, we may ask you to review and accept supplemental terms that apply to your interaction with a specific app, product, or service. To the extent those supplemental terms conflict with these Terms, the supplemental terms associated with the app, product, or service govern with respect to your use of such app, product or service to the extent of the conflict. 
  </p>
  <ol type="1">
      <li>
      	<p>
        	<strong>Privacy</strong>
      	</p>
      </li>  
	  <p>
	    Your privacy is very important to us. We designed our <a target="_blank" href="http://schloop.co/privacy_policy">Privacy Policy</a> to make important disclosures about how you can use SCHLOOP to share with others and how we collect and can use your content and information. We encourage you to read the <a target="_blank" href="http://schloop.co/privacy_policy">Privacy Policy</a>, and to use it to make informed decisions.
	  </p>
    <li>
      <p><strong>Sharing your content and information</strong></p>
    </li>  
      <p>
        We own all of the content and information you post on SCHLOOP, and you can control how it is shared through your privacy and application settings.
      </p>
    <li>
        <p><strong>In addition:</strong></p>
    </li>
    <ol type="i">
          <li>
          	<p>
            For content that is covered by intellectual property rights, like photos and videos (IP content), you specifically give us the following permission, subject to your privacy and application settings: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with SCHLOOP (IP License). This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.
            </p> 
          </li>
          <li>
          	<p>
            When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).
            </p>
          </li>

          <li>
          	<p>
            When you use an application, the application may ask for your permission to access your content and information as well as content and information that others have shared with you.  We require applications to respect your privacy, and your agreement with that application will control how the application can use, store, and transfer that content and information.  (To learn more about Platform, including how you can control what information other people may share with applications, read our 
            <a target="_blank" href="http://schloop.co/privacy_policy">Privacy Policy</a>
            )
			</p>
          </li>

          <li>
          	<p>
            When you publish content or information using the Public setting, it means that you are allowing everyone, including people of SCHLOOP, to access and use that information, and to associate it with you (i.e., your name and profile picture).
            </p>
          </li>

          <li>
          	<p>
            We always appreciate your feedback or other suggestions about SCHLOOP, but you understand that we may use your feedback or suggestions without any obligation to compensate you for them (just as you have no obligation to offer them).
            </p>
          </li>
    </ol>
    <br/>
    <li>
      <p><strong>Safety</strong></p>
    </li>
	<p>We do our best to keep SCHLOOP safe, but we cannot guarantee it. We need your help to keep SCHLOOP safe, which includes the following commitments by you: </p>  
    <ol type="i">
      <li>
      	<p>
        You will not post unauthorized commercial communications (such as spam) on SCHLOOP.
      	</p>
      </li>
      <li>
      	<p>
        You will not collect users' content or information, or otherwise access SCHLOOP, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.
        </p>
      </li>

      <li>
      	<p>
        You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on SCHLOOP.
        </p>
      </li>

      <li>
      	<p>
        You will not upload viruses or other malicious code.
        </p>
      </li>

      <li>
      	<p>
        You will not solicit login information or access an account belonging to someone else.
      	</p>
      </li>

      <li>
      	<p>
        You will not bully, intimidate, or harass any user.
      	</p>
      </li>
      <li>
      	<p>
        You will not post content that: is hate speech, threatening, or pornographic; incites violence; or contains graphic or gratuitous violence.
        </p>
      <li>
      	<p>
        You will not develop or operate a third-party application containing alcohol-related, dating or other mature content (including advertisements).
      	</p>
      </li>

      <li>
      	<p>
        You will not use SCHLOOP to do anything unlawful, misleading, malicious, or discriminatory.
        </p>
      </li>

      <li>
      	<p>
        You will not do anything that could disable, overburden, or impair the proper working or appearance of SCHLOOP, such as a denial of service attack or interference with page rendering or other SCHLOOP functionality.
      	</p>
      </li>
      <li>
      	<p>
        You will not facilitate or encourage any violations of this Statement or our policies.
      	</p>
      </li>
    </ol>
    <br/>
    <li>
      <p><strong>Registration and account security</strong></p>
    </li>
    <p>
        SCHLOOP users provide their real names and information, and we need your help to keep it that way. Here are some commitments you make to us relating to registering and maintaining the security of your account:
    </p>
    <ol type="i">
      <li>
      	<p>
        You will not provide any false personal information on SCHLOOP, or create an account for anyone other than yourself without permission.
      	</p>
      </li>
      <li>
      	<p>
        You will not create more than one personal account.
      	</p>
      </li>
      <li>
      	<p>
        If we disable your account, you will not create another one without our permission.
      	</p>
      </li>
      <li>
      	<p>
        You will keep your contact information accurate and up-to-date.
      	</p>
      </li>
      <li>
      	<p>
        You will not share your password (or in the case of developers, your secret key), let anyone else access your account, or do anything else that might jeopardize the security of your account.
      	</p>
      </li>
      <li>
      	<p>
        You will not transfer your account (including any Page or application you administer) to anyone without first getting our written permission.
      	</p>
      </li>
      <li>
      	<p>
        If you select a username or similar identifier for your account or Page, we reserve the right to remove or reclaim it if we believe it is appropriate.
      	</p>
      </li>
    </ol>
    <br/>
    <li>
    	<p><strong>Protecting other people's rights</strong></p>
    </li>  
    <p>
       We respect other people's rights, and expect you to do the same.
    </p>  
    <ol type="i">
      <li>
      	<p>
        You will not post content or take any action on SCHLOOP that infringes or violates someone else's rights or otherwise violates the law.
      	</p>
      </li>
      <li>
      	<p>
        We can remove any content or information you post on SCHLOOP if we believe that it violates these Terms or our policies.
      	</p>
      </li>
      <li>
      	<p>
        If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.
      	</p>
      </li>
      <li>
      	<p>
        You will not use our copyrights or Trademarks or any confusingly similar marks, except as expressly permitted in accordance with our Policy and / or with our prior written permission.
      	</p>
      </li>

      <li>
      	<p>
        You will not post anyone's identification documents or sensitive financial information on SCHLOOP.
      	</p>
      </li>
      <li>
      	<p>
        You will not tag users or send email invitations to non-users without their consent. SCHLOOP offers social reporting tools to enable users to provide feedback about tagging.
      	</p>
      </li>
    </ol>
    <br/>
    <li>
    	<p><strong>Mobile and other devices</strong></p>
    </li>
    <ol type="i">
      <li>
      	<p>
        We currently provide our mobile services for a fee and please be also aware that your carrier’s normal rates and fees, such as text messaging and data charges, will still apply.
      	</p>
      </li>
      <li>
      	<p>
        In the event you change or deactivate your personal details like email ID or mobile number, you will update your account information on SCHLOOP or will intimate to authorities within 48 hours to ensure that your messages are not sent to the person who acquires your old number or to unintended recipients.
      	</p>
      </li>
      <li>
      	<p>
        You provide consent and all rights necessary to enable users to sync (including through an application) their devices with any information that is visible to them on SCHLOOP.
      	</p>
      </li>
    </ol>
    <br/>
    <li>
    	<p><strong>Special Provisions Applicable to Software</strong></p>
    </li>
    <ol type="i">
      <li>
      	<p>
        If you download or use our software, such as a stand-alone software product, an app, or a browser plugin, you agree that from time to time, the software may download and install upgrades, updates and additional features from us in order to improve, enhance, and further develop the software.
      	</p>
      </li>
      <li>
      	<p>
        You will not modify, create derivative works of, decompile, or otherwise attempt to extract source code from us, unless you are expressly permitted to do so under an open source license, or we give you express written permission.
      	</p>
      </li>
    </ol>
    <br/>
    <li>
    	<p><strong>Amendments</strong></p>
    </li>
    <ol type="i">
      <li>
      	<p>
        We will notify you before we make changes to these terms and give you the opportunity to review and comment on the revised terms before continuing to use our Services.
      	</p>
      </li>
      <li>
      	<p>
        If we make changes to policies, guidelines or other terms referenced in or incorporated by these Terms, we may provide notice conspicuously on the web-page or mobile platform, as applicable.
      	</p>
      </li>
      <li>
      	<p>
        Your continued use of the SCHLOOP Services, following notice of the changes to our terms, policies or guidelines, constitutes your acceptance of our amended terms, policies or guidelines.
      	</p>
      </li>
    </ol>
	<br/>
    <li>
      <p><strong>Termination</strong></p>
    </li>  
	<p>
	  	If you violate the letter or spirit of these Terms or otherwise create risk or possible legal exposure for us, we can stop providing all or part of SCHLOOP to you. We will notify you by email or at the next time you attempt to access your account. You may also delete your account or disable your application at any time. In all such cases, this Statement shall terminate, but the following provisions will still apply: 2 (ii), 2(iv), 3-5, and 9-13.
	</p>
	<br/>
    <li>
      <p><strong>Disputes</strong></p>
    </li>
    <ol type="i">
      <li>
      	<p>
        You will resolve any claim, cause of action or dispute (claim) you have with us arising out of or relating to these Terms or SCHLOOP exclusively in the Mumbai, Maharashtra jurisdiction and you agree to submit to the personal jurisdiction of such courts for the purpose of litigating all such claims. The laws of the State of Maharashtra or Central laws of India will govern these Terms, as well as any claim that might arise between you and us, without regard to conflict of law provisions. 
      	</p>
      </li>
      <li>
      	<p>
        If anyone brings a claim against us related to your actions, content or information on SCHLOOP, you will indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including reasonable legal fees and costs) related to such claim. Although we provide rules for user conduct, we do not control or direct users' actions on SCHLOOP and are not responsible for the content or information users transmit or share on SCHLOOP. We are not responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable content or information you may encounter on SCHLOOP. We are not responsible for the conduct, whether online or offline, of any user of SCHLOOP. 
      	</p>
      </li>
      <li>
      	<p>
        WE TRY TO KEEP SCHLOOP UP, BUG-FREE, AND SAFE, BUT YOU USE IT AT YOUR OWN RISK. WE ARE PROVIDING SCHLOOP AS IS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE DO NOT GUARANTEE THAT SCHLOOP WILL ALWAYS BE SAFE, SECURE OR ERROR-FREE OR THAT SCHLOOP WILL ALWAYS FUNCTION WITHOUT DISRUPTIONS, DELAYS OR IMPERFECTIONS. SCHLOOP IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE US, OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES. WE WILL NOT BE LIABLE TO YOU FOR ANY LOST PROFITS OR OTHER CONSEQUENTIAL, SPECIAL, INDIRECT, OR INCIDENTAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THESETERMS OR SCHLOOP, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. OUR AGGREGATE LIABILITY ARISING OUT OF THESE TERMS OR SCHLOOP WILL NOT EXCEED THE GREATER OF ONE THOUSANDRUPEES (Rs 1,000). APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN SUCH CASES, SCHLOOP'S LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.
      	</p>
      </li>
    </ol>
    <br/>
    <li>
      <p><strong>Special Provisions Applicable to Users Outside India</strong></p>
    </li>  
    <p>
        We strive to create a global community with consistent standards for everyone, but we also strive to respect local laws. The following provisions apply to users and non-users who interact with SCHLOOP outside the India: 
    </p>  
    <ol type="i">
      <li>
      	<p>
        You consent to having your personal data transferred to and processed in the India.
      	</p>
      </li>
      <li>
      	<p>
        You will not use SCHLOOP if you are prohibited from receiving products, services, or software originating from India.
      	</p>
      </li>     
    </ol>
    <br/>
    <li>
      <p><strong>Definitions</strong></p>
    </li>  
    <ol type="i">
      <li>
      	<p>
        By "SCHLOOP" or” SCHLOOP Services” we mean the features and services we make available, including through (a) our website at www.SCHLOOP.co and any other SCHLOOP branded or co-branded websites (including sub-domains, international versions, widgets, and mobile versions); (b) our Platform; (c) social plugins as may be provided from time to time; and (d) other media, brands, products, services, software (such as a toolbar), devices, or networks now existing or later developed. SCHLOOP reserves the right to designate, in its sole discretion, that certain of our brands, products, or services are governed by separate terms and not these TERMS.
      	</p>
      </li>
      <li>
      	<p>
        By "Platform" we mean a set of APIs and services (such as content) that enable others, including application developers and website operators, to retrieve data from SCHLOOP or provide data to us.
      	</p>
      </li>

      <li>
      	<p>
        By "information" we mean facts and other information about you, including actions taken by users and non-users who interact with SCHLOOP.
      	</p>
      </li>
      <li>
      	<p>
        By "content" we mean anything you or other users post, provide or share using SCHLOOP Services.
      	</p>
      </li>

      <li>
      	<p>
        By "data" or "user data" or "user's data" we mean any data, including a user's content or information that you or third parties can retrieve from SCHLOOP or provide to SCHLOOP through Platform.
      	</p>
      </li>
      <li>
      	<p>
        By "post" we mean post on SCHLOOP or otherwise make available by using SCHLOOP. 
      	</p>
      </li>

      <li>
      	<p>
        By "use" we mean use, run, copy, publicly perform or display, distribute, modify, translate, and create derivative works of.
      	</p>
      </li>

      <li>
      	<p>
        By "application" we mean any application or website that uses or accesses Platform, as well as anything else that receives or has received data from us.  If you no longer access Platform but have not deleted all data from us, the term application will apply until you delete the data.
      	</p>
      </li>
      <li>
      	<p>
        By “Trademarks” we mean the trademarks, registered or otherwise. 
      	</p>
      </li>
    </ol>
    <br/>
    <li>
      <p><strong>Other</strong></p>
    </li>    
    <ol type="i">
      <li>
      	<p>
        If you are a resident of or have your principal place of business in India, these Terms shall apply to you and us.  References to “us,” “we,” and “our” mean either LinkUs Infratech Private Limited (OPC). By accessing this website / app, you agree to these Terms of Service.
      	</p>
      </li>
      <li>
      	<p>
        If any portion of these Terms is found to be unenforceable, the remaining portion will remain in full force and effect.
      	</p>
      </li>
      <li>
      	<p>
        If we fail to enforce any of these Terms, it will not be considered a waiver.
      	</p>
      </li>
      <li>
      	<p>
        Any amendment to or waiver of these Terms must be made in writing and signed by us.
      	</p>
      </li>
      <li>
      	<p>
        You will not transfer any of your rights or obligations under these Terms to anyone else without our consent.
      	</p>
      </li>
      <li>
      	<p>
        All of our rights and obligations under these Terms are freely assignable by us in connection with a merger, acquisition, or sale of assets, or by operation of law or otherwise.
      	</p>
      </li>
      <li>
      	<p>
        Nothing in these Terms shall prevent us from complying with the law.
     	</p>
      </li>
      <li>
      	<p>
        These Terms do not confer any third party beneficiary rights.
      	</p>
      </li>
      <li>
      	<p>
        We reserve all rights not expressly granted to you.
      	</p>
      </li>     
      <li>
      	<p>
        You will comply with all applicable laws when using or accessing SCHLOOP.
      	</p>
      </li>
    </ol>
        <br>
    <b>
      By using or accessing SCHLOOP Services, you agree that we can collect and use such content and information in accordance with the Privacy Policy as amended from time to time. 
    </b>
  </ol>
</div>  