// Place all the styles related to the admin/users/dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-admin-dashborad {
  background-color: #caecf0;
  .cloud-banner {
    img {
      height: 68px;
    }
    .cloud-bannr {
      margin-left: -35px;
    }
  }
  .admin-header-section {
    .schloop-logo-align {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -20px;     
    }
    .admin-profile-header {
        position: absolute;
        right: 40px;
        top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 14%;
        .admin-profile {
          .profile-photo {
                width: 76px;
                height: 76px;
                background-color: #ece1dd;
                border-radius: 100%;
                border: 1px solid #25aae1;
          }
        }
        .admin-profile-manu {
          p{
            color: #666666;
            margin: 0px;
            &:last-child {
              color: #25aae1; 
            }
          }
        }  
    }
  }
  .schools-profile-section {
    margin-bottom: 50px;
    height: 100%;
    .container {
      position: relative;
      top: 60px;
      .schools-profile {
        background: url(school_profile.svg);
        background-repeat: no-repeat;
        background-size: 300px 260px;
        height: 260px;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 30px;
          .schools-profile-active {
            position: absolute;
            right: 65px;
            top: 10px;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background-color: #25aae1;
            img {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 20px;
            }
          }
          .school-profile-logo {
            position: absolute;
            top: 35px;
            right: 65px;
            .school-logo {
              width: 110px;
              height: 110px;
              background-color: rgba(37, 169, 225, 0.26);
              border-radius: 100%;
            }
          }
          .school-name-code {
                position: absolute;
                top: 54px;
                width: 32%;
                left: 88px;
                h4 {
                  color: #27a9e0;
                  font-weight: 600;
                  margin-bottom: 2px;
                }
                p {
                    color: #666666;
                    font-size: 16px;
                    font-weight: 300;
                }
          }
          .school-contact-info {
              position: absolute;
              top: 154px;
              left: 78px;
              font-size: 14px;
              color: #666666;
              span {
                display: flex;
                width: 210px;
                img {
                  margin-right: 5px;
                  margin-bottom: 5px;
                  width: 25px;
                  height: 25px;
                }
                p {
                  margin: 0px;
                  padding: 5px;
                }
              }
          }
      }
      .add_profile {
        background: url(school_profile_blank.svg);
        background-repeat: no-repeat;
        background-size: 300px 260px;
        height: 260px;
        width: 300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          width: 50px;
        }
      }
      .cloud1-img {
        position: absolute;
        bottom: 0;
        left: 310px;
      }
      .cloud4-img {
        position: absolute;
        top: 280px;
        right: 80px;
      }
    }
    .cloud_image {
        margin: 0px 62%;
        position: relative;
        width: 20%;
        .cloud3-img {
          position: absolute;
        }
    }  
  }
  .bottom-img-section {
    height: 250px;
  } 
  .footer-section {
    background-color: #00a255;
    height: 50px;
  }
}

.schools-input-form {
  .schools-registraion-form {
  	label {
  	  	color: #666666;
  	  	margin-bottom: 5px;
  	}
  	.form-group {
  	  margin-bottom: 30px;
  	  .input-field {
  	  	background: transparent;
    	box-shadow: none;
    	border: 0;
    	border-bottom: 1px solid #ccc;
    	border-radius: 0;
    	font-size: 14px;
    	outline: 0;
    	padding: 0;
    	margin-bottom: 10px;
    	&:focus {
  	  	 border-color: #66afe9;
  	    }
  	  }
    }  
    input::-ms-input-placeholder {
      color: #cacaca;
      font-size: 12px;  
    }    
    .upload-logo {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        border: 1px solid #25aae1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .upload-group {
      padding-left: 26px;
      #upload-photo {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
      p {
          color: #25aae1;
          font-size: 12px;
      }
      label {
        cursor: pointer;
      }
    }
    > label ,.action-btn {
      margin-left: 26px;
    }
    .action-btn {
      .add-adiministrator{ 
        color: #25aae1;
        cursor: pointer; 
      }
      h4{   
        font-size: 14px;
        color: #f17676;
      }
    }  
  }	
}
