<script type="text/html" id="school_admin_tpl">
  {{#school_admins}}
      <tr data-school_admin_id="{{ id }}" class="curP" data-toggle="popover" data-value="add-school-administrator-popover-content">
        <td>{{ first_name }}</td>
        <td>{{ last_name }}</td>
        <td>{{ cell_number }}</td>
        <td>{{ email }}</td>
        <td data-toggle="tooltip" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i></td>
      </tr>
  {{/school_admins}}
</script>

<div id="add-school-administrator-popover-content" class="hidden">
  <%= form_tag '', class:"add-admin-form" do %>
    <div class="form-group">
      <input type="text" class="form-control input-field" required name="administrator[first_name]" placeholder="First Name" autocomplete="off"  maxlength="20" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control input-field" required name="administrator[last_name]" placeholder="Last Name" autocomplete="off" maxlength="20" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control input-field" required name="administrator[cell_number]" placeholder="Phone" autocomplete="off"  maxlength="15" />
    </div>
    <div class="form-group">
      <input type="email" class="form-control input-field" required name="administrator[email]" placeholder="Email" autocomplete="off"  maxlength="30" />
    </div>
    <div class="add-action-btn">
      <button type="submit" class="btn btn-primary">SAVE</button>
      <button type="button" class="btn btn-primary cancelPopoverBtn">CANCEL</button>
      <button type="button" class="removeUserBtn btn btn-primary">REMOVE</button>
    </div>
  <% end %>
</div>