 <div class="tab-pane fade in parents-container" id="students-tab"></div>


 <script id="grades_list_tpl" type="text/html">
   {{#grades_present}}
     <div class="clearfix p0">
       <div class="form-group col-md-2 p0 mt15">
         <select id="grade_select" class="select2-option curP">
           {{#grades}}
              <option value="{{ grade_id }}">{{grade_name}}</option>
           {{/grades}}
         </select>
       </div>
       <div id="divisions_wrapper_id" class="col-md-8">

       </div>
       <div class="col-md-2  pt20 upload-student-link">
         <a id="uploadStudentCSVLink" href="/admin/parent_imports/new" target="_blank">Upload CSV</a>
       </div>
     </div>
    <div id="studentListWrapper"></div>
   {{/grades_present}}
   {{^grades_present}}
      Please add Grades first
   {{/grades_present}}
 </script>

 <script id="divisions_list_tpl" type="text/html">
   {{#divisions_present}}
    <ul class="clearfix">
      {{#divisions}}
        <li class="division-list-item" data-division_id="{{division_id}}">{{ division_name }}</li>
      {{/divisions}}
    </ul>
   {{/divisions_present}}
   {{^divisions_present}}
      Please add divisions for this grade.
   {{/divisions_present}}
 </script>

 <script type="text/html" id="student_list_tpl">
   {{#student_data_present}}
   <table class="table">
     <tr>
       <th>STUDENT</th>
       <th>PARENT</th>
       <th>EMAIL</th>
       <th>PHONE</th>
       <th></th>
     </tr>
     {{ #student_data }}
         <tr>
           <td>{{ student_first_name }} {{ student_middle_name }} {{student_last_name}} </td>
           <td>{{ parent_first_name }} {{ parent_middle_name }} {{parent_last_name}} </td>
           <td>{{ parent_email }}</td>
           <td>{{ cell_number }}</td>
           <td><span data-student_id="{{student_id}}" class="student-edit-btn" id="student-edit-popover" data-toggle="popover" data-value="student-edit-popover-content" data-placement="left">Edit</span></td>
         </tr>
     {{ /student_data }}
   </table>
   {{/student_data_present}}
   {{^student_data_present}}
      No students available. Please upload Students for this division.
   {{/student_data_present}}
   <div id="student-edit-popover-content" class="hidden">
      <form>
        <div class="row">
          <div class="col-md-12 form-group">
            <label>Student</label>
            <input type="hidden" name="student[student_id]">
            <input type="text" class="col-md-4 form-control input-field" required name="student[student_first_name]" placeholder="First Name" autocomplete="off"  maxlength="20" />
            <input type="text" class="col-md-4 form-control input-field" name="student[student_middle_name]" placeholder="Middle Name" autocomplete="off"  maxlength="20" />
            <input type="text" class="col-md-4 form-control input-field" required name="student[student_last_name]" placeholder="Last Name" autocomplete="off"  maxlength="20" />
          </div>
        </div>
        <div class="form-group">
          <label>Parent</label>
          <input type="text" class="form-control input-field" required name="student[parent_first_name]" placeholder="First Name" autocomplete="off"  maxlength="20" />
          <input type="text" class="form-control input-field" name="student[parent_middle_name]" placeholder="Middle Name" autocomplete="off"  maxlength="20" />
          <input type="text" class="form-control input-field" required name="student[parent_last_name]" placeholder="Last Name" autocomplete="off"  maxlength="20" />
        </div>
        <div class="form-group">
          <input type="email" class="form-control input-field" required name="student[parent_email]" placeholder="Email" autocomplete="off"  maxlength="30" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-field" required name="student[cell_number]" placeholder="Phone" autocomplete="off"  maxlength="15" />
        </div>
        <div class="student-edit-btn">
          <div class="update-student">
          <button type="submit" class="btn btn-primary mr20">UPDATE</button>
          <button type="button" class="btn btn-primary cancelPopoverBtn">CANCEL</button>
          </div>
          <button type="button" class="deActivateStudentBtn btn btn-primary">DEACTIVATE STUDENT</button>
        </div>
      </form>
    </div>
 </script>