<div class="school-profile-main-section">
<div class="container">
	<div class="content-wrapper">
		<div class="header-wrapper">
			<div class="home-logo">
			</div>
			<div class="heading-wrapper">
				<h2>Dalmiya Public School</h2>
				<p>DMP001</p>
			</div>
		</div>
		<div class="data-wrapper">
			<div class="row mt-40">
				<div class="col-md-3">
					<span class="data-title">Board</span>
					<span class="data-attr">CBSE</span>

				</div>
				<div class="col-md-4 ">
					<span class="data-title">Principle/Director/Authority</span>
					<span class="data-attr">Mrs. Suma Das (Principal)</span>
					
				</div>
				<div class="col-md-4">
					<span class="data-title">Website</span>
					<span class="data-attr"><a href="#">www.dalimyabhadup.com</a></span>
					
				</div>
			</div>
			<div class="row mt-40">
				<div class="col-md-6">
					<span class="data-title">Address</span>
					<span class="data-attr"><address>Bhaktivedanta Swami Marg,Srishti Sector 1, Mira road, East Thane</address></span>

				</div>
				<div class="col-md-2 ">
					<span class="data-title">Zip Code</span>
					<span class="data-attr">411004</span>
					
				</div>
				<div class="col-md-2">
					<span class="data-title">Phone</span>
					<span class="data-attr">022 6543 736</span>
					
				</div>
				<div class="col-md-2 last-col">
					<span class="data-title">Phone (Alternate)</span>
					<span class="data-attr">0987654321</span>
					
				</div>
			</div>
			<div class="row mt-30">
				<div class="col-md-8">
					<span class="data-title">School Admin (will get credentials to log into system)</span><br>
					<div class="overflow">
						<table class="admin-data">
							<tr>
								<td>Chetan</td>
								<td>Sawai</td>
								<td>022647738</td>
								<td>0987654321</td>
								<td>chetansawai@dalmiya.com</td>
							</tr>
							<tr>
								<td>Chetan</td>
								<td>Sawai</td>
								<td>022647738</td>
								<td>0987654321</td>
								<td>chetansawai@dalmiya.com</td>
							</tr>
						</table>
					</div>
					<div class="mt-10"><span id="add-admin"><a href="#">+Add Another Administrator</a></span></div>
				</div>
				<div class="col-md-4 "></div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="content-wrapper">
		<div class="tab-wrapper">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#grade-sub-tab" data-toggle="tab">Grades & Subjects</a></li>
				<li><a href="#teachers-tab" data-toggle="tab">Teachers</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="grade-sub-tab">
					<div class="subject-wrapper">
						<div class="plr-20">
							<span class="data-title">Grade 1</span>
							<div class="data-attr">
								<ul>
									<li>English</li>
									<li>Maths</li>
									<li>Science</li>
								</ul>
								<span id="add-sub"><a href="#">+Add Subject</a></span>
							</div>
						</div>
					</div>
					<div class="division-wrapper inner-tabs">
						<div class="plr-20">
							<span class="data-title"><a href="#" class="fa fa-chevron-circle-down"></a>5 Divisions</span>
								<ul id="myTab" class="nav nav-tabs">
									<li class="active"><a href="#div-a" data-toggle="tab">A</a></li>
									<li><a href="#div-b" data-toggle="tab">B</a></li>
									<li><a href="#div-c" data-toggle="tab">C</a></li>
									<li><a href="#div-d" data-toggle="tab">D</a></li>
									<li><a href="#div-e" data-toggle="tab">E</a></li>
									<!-- <li class="div-operation"><span><a href="#">+Add Division</a></span></li>
									<li class="div-operation"><span><a href="#">+Delete Division A</a></span></li> -->
								</ul>
								<div class="div-operation">
									<span><a href="#">+Add Division</a></span>
									<span><a href="#">+Delete Division A</a></span>
								</div>
								<div id="myTabContent" class="tab-content">
									<div class="tab-pane fade in active" id="div-a">
										<div class="teachers-wrapper">
											<ul>
												<li><div><img src="https://dummyimage.com/45x45/2abdda/0011ff&text=dps"><span class="img-caption"><b>Ruchi P.</b> English</span></div></li>
												<li><div><img src="https://dummyimage.com/45x45/2abdda/0011ff&text=dps"><span class="img-caption"><b>Ruchi P.</b> English</span></div></li>
												<li><div><img src="https://dummyimage.com/45x45/2abdda/0011ff&text=dps"><span class="img-caption"><b>Ruchi P.</b> English</span></div></li>
											</ul>
										</div>
									</div>
									<div class="tab-pane fade" id="div-b"></div>
									<div class="tab-pane fade" id="div-c"></div>
									<div class="tab-pane fade" id="div-d"></div>
									<div class="tab-pane fade" id="div-e"></div>
								</div>
						</div>
					</div>
				</div>
				<div id="teachers-tab" class="tab-pane fade">
					<div class="plr-20">
							<span class="data-title">Grade 1</span>
							<div class="data-attr">
								<ul>
									<li>English</li>
									<li>Maths</li>
									<li>Science</li>
								</ul>
								<span id="add-sub"><a href="#">+Add Subject</a></span>
							</div>
						</div>
				</div>
			</div>
		</div>	
	</div>
</div>
</div>