@import "includes/variables";
@import "includes/mixins";

.activities_content_section {
    .content-list {
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        padding: 0px;
        list-style-type: none;
        .fw{font-weight: 600;}
        .content-item {
            padding: 15px 0px;
            color: #666666;
            border-bottom: 1px dotted #999999;
            &:last-child {
                border-bottom: none;
            }
            .content-title {
              margin-top: 0px;
              font-weight: 600;
            }
            .edit-hint-text {
              font-size: 13px;
            }
            .tags-right {
                color: $heading-color;
                font-weight: 600;
            }
        }
    }
}

.activities-header-bar {
    padding: 0px;
    .select2-container--default {
        z-index: 110;
    }
    .field {
        border-bottom: none;
        padding: 10px;
    }
    h4 {
        font-size: 18px;
        font-weight: 600;
        color: #666666;
        margin: 5px 0px;
    }
    .web-content-link{
        a{
            margin-left: 40px;
            font-weight: bold;
        }
    }
    .ms-parent{
        margin-top: 14px;
    }
}
.activity-preview-container {
    p {
        color: #666666;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    img {
            width: 200px;
        }
    span:after{
        content: ',';
    }
    span:last-child:after{
        content:'';
    }    
}
#create-web-content-modal {
    .select2 {
        width: 100% ! important;
        border-bottom: 1px solid #ccc;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
.close-form {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 22px;
    font-weight: 300;
    color: #25aae1;
    cursor: pointer;
}
.select2 {
    width: 130px ! important;
}