@import "includes/variables";
@import "includes/mixins";

.activities_content_section {
    .content-list {
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        padding: 0px;
        list-style-type: none;
        .content-item {
            padding: 15px 0px;
            color: #666666;
            border-bottom: 1px dotted #999999;
            &:last-child {
                border-bottom: none;
            }
            .content-title {
              margin-top: 0px;
            }
            .edit-hint-text {
              font-size: 13px;
            }
            .tags-right {
                color: $heading-color;
            }
        }
    }
}

.activities-header-bar {
    padding: 0px;
    .field {
        border-bottom: none;
        padding: 10px;
    }
    .web-content-link{
        padding-top: 20px;
        a{
            margin-left: 40px;
            font-weight: bold;
        }
    }
    .ms-parent{
        margin-top: 14px;
    }
}