@import "common";
@import "admin/schools";
@import "admin/activities";
@import "admin/school_profile";

.school-main-section {
  .container {
    width: 1020px;
  }
}
.schools-main-section {
  .cloud_image {
    position: relative;
    height: 55px;
    .cloud3-img {
      position: absolute;
      right: 20%;
    }
  }
}
.school-main-section, .schools-main-section{
  .container {
    margin: 50px auto;
    background: $container-background;
    padding: 40px 90px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      color: #555555;
      border: none;
      background-color: transparent;
      border-bottom-color: transparent;
      cursor: default;
    }
  }
  #school-Tab {
    margin-top: -110px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: transparent;
    li {
      height: 130px;
      width: 180px;
      &.active {
        background-image: url(cloud_tab.svg);
        background-repeat: no-repeat;
        height: 130px;
        width: 180px;
        a {
          margin: 25px 10px;
          color: #25aae1;
        }
      }
    }
    a {
      margin: 25px 10px;
      font-size: 18px;
      &:hover {
        text-decoration: none;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}
