<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Schloop, <%= @user_name %></h1>
<p>
  You have successfully signed up to Schloop.<br>
  your username is: <%= @user_email %>.<br>
  your password is: <%= @password %>.<br>
</p>
<p>
  Please change the password after log-in to the site: <%= @url %>.<br>
  Thanks for joining and have a great day!</p>
</body>
</html>