<%= form_tag '/password_resets/create_for_teacher' , novalidate:true do %>
    <input type="email" required name="user[email]" autocomplete="off" placeholder="Email Address"  maxlength="40" />
    <button type="submit"> send a rest password link </button>
<% end %>