<div class="modal fade" id="changePasswordModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- <div class="modal-header clearfix">
        <h4 class="modal-title text-uppercase pull-left">Change Password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div> -->
      <div class="modal-body">
        <div class="close-changepass-form" data-dismiss="modal" aria-hidden="true">x</div>
          <img class="img-responsive centre-content" src="<%= asset_path('home/schloop.png') %>">
        <div id="changePwdDiv">
          <%= form_tag update_password_url, method: :patch, id:"change-password-form", novalidate:true, remote: true do %>
            <p class="show_err"></p>
            <div class="form-group">
              <input type="password" class="form-control input-field" required='required' name="user[current_password]" autocomplete="off" placeholder="Current password" maxlength="12" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-field" required='required' name="user[password]" autocomplete="off" placeholder="New password" maxlength="12" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-field" required='required' name="user[password_confirmation]" autocomplete="off" placeholder="Confirm new password" maxlength="12" />
            </div>

            <div class="form-group mt20">
              <button type="submit" class="btn btn-primary btn-full-width text-uppercase update_password_submit">Update Password</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
