
Hello <%= @resource.name%>, We're so glad, YOU SAID YES!  <br>

We have hand-crafted Schloop just for you. Once you are on-board, Schloop will already be set for the grades and subjects you teach at Dalmiya Public School. <br>

Your username will be your email <%= @resource.email%><br>

Just click on the following link to get started.<br>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>


For any queries, feel free to write to us at contact@schloop.com<br>

Happy Schlooping!<br>

The Schloop Team<br>

